.tab{
    width: 100%;
    height: 50px;
    background-color: rgba(214, 214, 214, 0.562);
    border-radius:10px;
}
.tab button{
    width: 120px;
    font-size: 30px;
    height: 50px;
    margin-left:10px;
    border-bottom: 2px solid #ccc;

}
.tab button:hover{
   color: rgb(250, 71, 0);
}
