/* topic */
.my_hoard_bg h1{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    margin: 10px 0 10px 0;
    color: rgb(110, 45, 170);
}

.my_hoard_bg .ant-table-wrapper{
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.my_hoard_bg .ant-table{
    color: rgb(106, 48, 199);
    background-color: transparent;
}
.my_hoard_bg .ant-table-thead tr th{
    background-color: transparent;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    padding: 10px;
}

.my_hoard_bg .ant-table-tbody tr .ant-table-cell-row-hover{
    background-color: rgb(221, 215, 255) !important;
}
.my_hoard_bg .ant-table-tbody tr td{
    font-size: 18px;
    position: relative;
    padding: 10px 0 10px 29px;
    margin: 0;
    border-bottom: 1px solid rgb(252, 121, 121);
}
.my_hoard_topic .topictitle{
     width: 10em;
     /* 多行文本省略号 */
     word-break: break-all;
     text-overflow: ellipsis;
     display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
     /*! autoprefixer: ignore next */
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1; /** 显示的行数 **/
     overflow: hidden; /** 隐藏超出的内容 * */
}
.my_hoard_follow .topictitle{
    width: 14em;
    /* 多行文本省略号 */
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    /*! autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /** 显示的行数 **/
    overflow: hidden; /** 隐藏超出的内容 * */
}
.my_hoard_bg .ant-table-thead tr th{
    text-align: center;
    border-bottom: 1px solid rgb(252, 121, 121);
}
.my_hoard_topic .ant-table-thead tr th:nth-child(1){
    text-align-last: left;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(n+2){
    font-size:20px;
}
.my_hoard_topic .ant-table-tbody tr td:nth-child(1) a{
    font-size: 26px;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(2){
    width: 15%;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(3){
    width: 13%;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(4){
    width: 8%;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(5){
    width: 8%;
}
.my_hoard_topic .ant-table-thead tr th:nth-child(6){
    width: 20%;
}
.my_hoard_topic .ant-table-tbody tr td:nth-child(6){
    position: relative;
}

.my_hoard_topic .ant-table-tbody tr td a::before{
    content: " ";
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 117, 175);
}
/* 状态的样式 */
.my_hoard_modify{
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 5px;
}

/* 操作按钮的样式 */
.my_hoard_topic .topic_update:hover{
    top: 9px;
}
.my_hoard_topic .topic_update{
    background-color: rgb(225, 232, 255);
    font-size: 26px;
    color: rgb(133, 57, 255);
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius:50%;
    top: 10px;
    left:20px;
}
.my_hoard_topic .topic_delete:hover{
    top: 9px;
}
.my_hoard_topic .topic_delete{
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius:50%;
    top: 10px;
    left:90px;
    background-color: rgb(225, 232, 255);
    font-size: 26px;
    color: rgb(133, 57, 255);
}

/* 分页的样式 */
.my_hoard_bg .ant-pagination li {
    background-color: rgb(193, 248, 255);
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.my_hoard_bg .ant-pagination li a{
    font-size: 30px;
}
.my_hoard_bg .ant-pagination .ant-pagination-item-link{
    background-color: rgba(174, 255, 127, 0);
}
.my_hoard_bg .ant-pagination .ant-pagination-item-link span svg{
    width: 30px;
    height: 30px;
    margin: 8px 0 0 0;
}

/* follow */
.my_hoard_follow .ant-table-thead tr th:nth-child(1){
    text-align-last: left;
    width: 50%;
}
.my_hoard_follow .ant-table-tbody tr td:nth-child(1) a{
    font-size: 26px;
}
.my_hoard_follow .ant-table-thead tr th:nth-child(2){
    width: 30%;
}
.my_hoard_follow .ant-table-thead tr th:nth-child(3){
    width: 20%;
}
.my_hoard_follow .ant-table-tbody tr th:nth-child(3){
    position: relative;
}
.my_hoard_follow .topic_delete:hover{
    top: 6px;
}
.my_hoard_follow .topic_delete{
    position: absolute;
    width: 120px;
    height: 50px;
    top: 5px;
    left:20px;
    background-color: rgb(225, 232, 255);
    font-size: 26px;
    border-radius: 5px;
    color: rgb(133, 57, 255);
}
.my_hoard_follow .ant-table-tbody tr td a::before{
    content: " ";
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 117, 175);
}